.startpage_row{
    // margin: 30px;
    display: grid;
    padding: 2rem 0;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width:1100px)
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

}

.startpage_child1{
    flex-wrap: wrap ;
    display: flex;
    justify-content: space-evenly;
}

.startpage_child2{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}