.ViewStudent{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    height: 100%;
    @media screen and (min-width: 700px){
        background: url('/form.svg') no-repeat;
        background-position: 99% 99%;
        background-size: 15rem;
    }

}
