.RegisterPage{
    display: grid;
    grid-template-columns:  50vw 50vw;
    align-items: center;
    height: 100%;
    justify-content: center;
    @media screen and (max-width: 1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


.RegisterPage__img{
    justify-self: start;
    & img{
        padding: 1rem 0;
        height: 100vh;    
    }
}
.RegisterPage__card{
    justify-self: end;
    @media screen and (max-width: 1100px) {
        margin: 0;
    }
    margin-right: 2.5rem;
}
