.ListItem{
    display: grid;
    grid-template-columns: 1.7fr 0.3fr;
    margin: 2rem 0;
    padding:  1rem 2rem 1rem 1.5rem;
    align-items: center;
    cursor: pointer; 
    border-radius: 0.3rem;
    justify-content: center;
    -webkit-box-shadow: 0px 1px 3px 0px #aaaaaa;
    -moz-box-shadow: 0px 1px 3px 0px #aaaaaa;
    box-shadow: 0px 1px 4px 1px #ccc;
    transition: all 0.3s ease;
    &:hover{
        transform: scale(1.02);
    }
    @media screen and (max-width: 600px) {
        margin: 1.5rem 2rem;
    }
}

.ListItem__content{
    display: flex;
    flex-direction: column;
}

.ListItem__content-title{
    font-size: 1rem;
    font-weight: 600;
}

.ListItem__content-time{
    color: #5a6270;
    margin-top: 1rem;
}

.ListItem__select{
    justify-self: end;
}

.ListItem__content-extra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 650px) {
        flex-direction: column;
    }
    
}

.ListItem__content-status{
    margin-top: 1rem;
    & span{
        background-color:#DC143C;
        color: white;
        padding: 0.1rem 0.3rem;
        border-radius: 5px;
    }
}