h3{
    display:inline;
}
span{
    display:inline;
    margin-left:1vw;
}
.Innerinfo_sep{
    display: table;
}
.Innerinfo_infomain{
    padding-top: 3vh;
    padding-left: 1.5vw;
}
.Innerinfo_panel{
    text-align: center;
    width: 94%;
}
.Innerinfo_row1{
    display: table-row;
    height: 90%;
    background-color: rgb(248, 246, 246);
}
.Innerinfo_row2{
    display: table-row;
    height: 10%;
    background-color: #fff;
}