h3{
    display:inline;
}
span{
    display:inline;
    margin-left:1vw;
}
.sep{
    display: table;
}
.infomain{
    padding-top: 3vh;
    padding-left: 1.5vw;
}
.panel{
    text-align: center;
    width: 94%;
}
.row1{
    display: table-row;
    height: 90%;
    background-color: rgb(248, 246, 246);
}
.row2{
    display: table-row;
    height: 10%;
    background-color: #fff;
}