.RegisterPage{
    display: grid;
    grid-template-columns:  50vw 50vw;
    justify-content: center;
    height: 90vh;
    @media screen and (max-width: 1200px) {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}


.RegisterPage__img{
    justify-self: center;
    align-self: center;
    // & img{
    //     padding: 1rem 0;
    //     height: 100vh;    
    // }
}
.RegisterPage__card{
    justify-self: end;
    @media screen and (max-width: 1100px) {
        margin: 0;
    }
    margin-right: 2.5rem;
}
