$color-title:red;
$color-subtitle:white;
.LoginForm{
    display: flex;
    justify-content: center;
    & h5{
        color: $color-subtitle;
    }

    & label{
        color: $color-subtitle;
    }
}
// .LoginForm-background{
//     background-color:yellowgreen;
//     width: 100%;
// }
.LoginForm .ant-form-horizontal{
    padding: 3rem 2rem 1rem 2rem;
    border-radius: 10px;
    margin: 1rem;
    box-shadow: 0px 1px 4px 1px #ccc;
    text-align: left;
    .ant-form-item-label{
        text-align: left;
    }
    .Input{
        background-color: red;
    }
    justify-self: center;
    background-color:rgb(81, 1, 146);
    // opacity: 0.3;
}
// .LoginForm .ant-form-horizontal:hover{
//     opacity: 1.9;
// }

.LoginForm-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.LoginForm-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}
