.LoginForm-button {
  display: flex;
  justify-content: center;
}

.LoginForm {
  display: flex;
  overflow: hidden;
  padding-bottom: 0.3rem;
  background-color: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px #ccc;
  min-width: 20rem;
  max-width: 20rem;
  .ant-input {
    border-radius: 5px;
    box-shadow: 0px 1px 4px 0px #ccc;
    &::selection {
      border-color: red;
    }
  }
  @media screen and (max-width: 1100px) {
    min-width: 20rem;
    max-width: 20rem;
    margin: 0;
  }
}

.LoginForm__top-image{
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 2rem;
  .LoginForm_vector1{
    margin: 0;
    padding:0;
    width: 2rem;
    height: 3rem;
  }
  .LoginForm_vector2{
    width: 4rem;
    margin: 0;
    padding:0;
    height: 4rem;
  }
}

.LoginForm-login {
  // padding: 0 3rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #5a6270;
  margin: 1rem 0 0 0;
}
