.LoginForm-button{
    display: flex;
    justify-content: center;
}

.LoginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.LoginForm-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 0;
}