/*h3{
    display:inline;
}
span{
    display:inline;
    margin-left:1vw;
}*/
.Innerinfo_sep{
    display: table;
    & h3{
        display:inline;
    }
    & span{
        display:inline;
        margin-left:1vw;
    }
}
.Innerinfo_infomain{
    padding-top: 3vh;
    padding-left: 1.5vw;
}
.Innerinfo_panel{
    text-align: center;
    width: 94%;
}
.Innerinfo_row1{
    display: table-row;
    height: 90%;
    background-color: rgb(248, 246, 246);
}
.Innerinfo_row2{
    display: table-row;
    height: 10%;
    background-color: #fff;
}
.Innerinfo_data{
    display: grid;
    justify-content: center;
    padding: 0rem 10vw;
    padding-bottom: 1rem;
    align-items: center;
    height: 100%;
}


.Innerinfo_title{
    font-size: 2.1rem;
    @media screen and (max-width: 1000px) {
        font-size: 2.1rem;
    }
    text-align: center;
    padding-top: 1rem;
}

.Innerinfo_author{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    @media screen and (max-width: 1100px) {
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
}

.Innerinfo_description{
    text-align: center;
    padding: 4rem 0;
    font-size: 1.4rem;
}