.ViewGrievance{
    display: grid;
    justify-content: center;
    padding: 0rem 10vw;
    padding-bottom: 1rem;
    align-items: center;
    height: 100%;
}


.ViewGrievance__title{
    font-size: 2.1rem;
    @media screen and (max-width: 1000px) {
        font-size: 2.1rem;
    }
    text-align: center;
    padding-top: 1rem;
}

.ViewGrievance__author{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    @media screen and (max-width: 1100px) {
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
}

.ViewGrievance__description{
    text-align: center;
    padding: 2rem 0;
    font-size: 1.2rem;
}

.ViewGrievance__file{
    display: flex;
    justify-content: center;
}
.ViewGrievance__submit{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
    & button:active{
        transform: translateY(2px);
    }
}
