.navbar_style ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #ccdef7;
    border-bottom: 5px solid #275ca5; 
  }
  
  .navbar_style li {
    float: left;
  }
  
  .navbar_style li a {
    display: flex;
    flex-direction: row;
    color: rgb(19, 17, 17);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-top: 30px;
    font-size: large;
  }
  

  .navbar_style li a:hover{
    color: white;
    background-color: rgb(29, 153, 202);
  }
  
  .navbar_style li a.active {
    color: white;
    background-color:white;
  }

  .navbar_parent{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
  }

  .navbar_logo{
    margin: 10px;
    width: 70px;
    height:70px;

  }

  .navbar_heading{
    margin-top: 20px;
    font-size: large;
 
  }

