.navbar_style ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    border: 1px solid rgb(231, 231, 231);
    background-color: white; 
    box-shadow: 0 4px 8px 0 rgba(190, 188, 188, 0.2), 0 1px 12px 0 rgba(150, 145, 145, 0.19);

  }
  
  .navbar_style li {
    float: left;
  }
  
  .navbar_style li a {
    display: flex;
    flex-direction: row;
    color: #2b7a78;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding-top: 30px;
    font-size: large;
  }
  

  .navbar_style li a:hover{
    color: white;
    background-color: #2b7a78;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .navbar_style li a.active {
    color: white;
    background-color: #2b7a78;
  }

  .navbar_parent{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
  }

  .navbar_logo{
    margin: 10px;
    width: 70px;
    height:70px;

  }

  .navbar_heading h2{
      color: #2b7a78;
    }
  
