.LoginPage{
    display: grid;
    grid-template-columns:  50vw 50vw;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    // background: linear-gradient(to top left, #3333ff 0%, #66ccff 100%);
    background-position:center; 
    background-repeat: no-repeat;
    @media screen and (max-width: 1200px) {
        display: flex;
        justify-content: center;
    }
    & img{
        height: 100vh;
    }
}