.LoginPage{
    display: grid;
    grid-template-columns:  50vw 50vw;
    align-items: center;
    justify-content: center;
    height: 100vh;
    @media screen and (max-width: 1100px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    overflow: hidden;

}

.LoginPage__img{
    justify-self: end;
    & img{
        height: 70vh;
    }
}

.LoginPage__card{
    justify-self: end;
    display: flex;
    & img{
        height: 23rem;
        padding-right: 0.4rem;
    }
    @media screen and (max-width: 1100px) {
        margin: 0;
    }
    margin-right: 3rem;

}