.LoginPage{
    display: grid;
    grid-template-columns:  50vw 50vw;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    // background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // background: linear-gradient(to top left, #3399ff 0%, #ff99cc 100%);
    @media screen and (max-width: 1200px) {
        display: flex;
        justify-content: center;
    }
    & img{
        height: 100vh;
    }
}