.footer_style{
    display: flex;
    align-items: center;
    padding:20px;
    margin-top: 60px;
    justify-content: space-evenly;
    background-color: #b5d2fa;
    color: black;
}

.footer_style p{
    font-size: medium;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(65, 63, 63);
}