.footer_style{
    display: flex;
    padding:40px;
    margin-top: 80px;
    justify-content: space-evenly;
    background-color: #2b7a78;
}

.footer_style p{
    font-size: medium;
    color: rgb(253, 251, 251);
    font-weight: 600;
    align-self: center;
}