.CommitteeListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 35vh;
  width: 15vw;
  color: #5a6270;
  @media screen and (max-width: 700px){
      justify-content: center;
      width: 70vw;
      margin:0;
      margin-bottom: 2rem;

}
  cursor: pointer;
  border-radius: 5px;
  margin: 1rem;
  -webkit-box-shadow: 0px 1px 3px 0px #aaaaaa;
  -moz-box-shadow: 0px 1px 3px 0px #aaaaaa;
  box-shadow: 0px 1px 4px 1px #ccc;
  transition: all 0.3s ease;
  &:hover{
      transform: scale(1.05);
  }
}

.CommitteeListItem__image {
    & img{
        height: 20vh;
    }
}

.CommitteeListItem__info {
    text-align: center;
    & span{
        font-size: 1.5rem;
    }

    & p{
        font-size: 1rem;
    }
}

