$color-title: #2f353f;
$color-subtitle: #5a6270;
// Small tablets and large smartphones (landscape view)
body {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.RegisterForm {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  @media screen and(max-width: 800px) {
      background: none;
  }
  background: url("/card2.svg") no-repeat top;
  & h5 {
    color: $color-subtitle;
    margin-bottom: 0;
  }

  & label {
    color: $color-subtitle;
  }
}

.RegisterForm .ant-form-horizontal {
  padding: 1rem 2rem;
  box-shadow: 0px 1px 4px 1px #ccc;
  width: 32rem;
  @media screen and (max-width: 1100px) {
    min-width: 32rem;
    max-width: 32rem;
  }
  @media screen and (max-width: 800px) {
    min-width: 20rem;
    max-width: 20rem;
    box-shadow: none;
    margin: 0;
  }


  border-radius: 10px;
  text-align: center;
  .ant-input {
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 4px 0px #ccc;
  }
  .ant-select-selection {
    border-radius: 5px;
    border: none;
    box-shadow: 0px 1px 4px 1px #ccc;
  }
  .ant-form-item-label {
    text-align: left;
  }
  justify-self: center;
}

.RegisterForm__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }
}

.RegisterForm-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #5a6270;
  align-items: center;
}

.RegisterForm-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 80vw;
  padding: 0 25rem;
  &_student {
    display: flex;
    flex-direction: row;
    @media (max-width: 1028px) {
      flex-direction: column;
    }
    &-1 {
      padding-left: 1rem;
      min-width: 15em;
    }
  }
  &_college {
    display: flex;
    @media (max-width: 1028px) {
      flex-direction: column;
    }
  }
  &_contact {
    display: flex;
    @media (max-width: 1028px) {
      flex-direction: column;
    }
  }
}
.spacing {
  margin-bottom: 1rem;
}
.flex-bottom {
  margin: 1.5rem 0; 
  font-size: 2.5rem;
  text-align: center;
}

.actions {
  display: flex;
  justify-content: end;
}

.side-heading {
  font-size: 1.5rem;
  text-align: center;
}
