.SideBar-logo{
    display: flex;
    justify-content: center;
    padding: 1.5rem 1rem;
    & img{
        height: 7vh;
    }
}   

// .ant-menu-submenu > .ant-menu {
//     background: #000c17;
// }

// .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
//     background-color: #1890FF;
// }